<html>
<head>
<style>
body {
       background-color: #8E44AD;
       
}
h1 {
        color: #FFffFF;
}
h2 {
        color: #FFFFFF;
}

h3 {
        color: #FFFFFF;
}
</style>
</head>
<body>
 
<h1><center>My Skincare Cabinet</center></h1>
 
<h2><center></center>Keep track of your skincare products in one easy place</center></h2>
 


<h1>
  Product list
</h1>

<a href="/new_product_form" style= color:#FFFFFF;>
  Add a new product
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      Brand
    </th>

    <th>
      Expiration date
    </th>

    <th>
      Product type
    </th>

    <th>
      Owner
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    <td>
      <%= product.id %>
    </td>

    <td>
      <%= product.name %>
    </td>

    <td>
      <%= product.brand %>
    </td>

    <td>
      <%= product.expiration_date %>
    </td>

    <td>
      <%= product.product_type %>
    </td>

    <td>
      <%= product.owner_id %>
    </td>

    <td>
      <%= time_ago_in_words(product.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(product.updated_at) %> ago
    </td>

    <td>
      <a href="/products/<%= product.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
</body>
</html>