<h1>
  Edit product #<%= @product.id %>
</h1>

<hr>

<%= render("product_templates/validation_failures.html.erb") %>

<form action="/update_product_record/<%= @product.id %>" method="post">
  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @product.name %>">
  </div>

  <div>
    <label for="brand">
      Brand
    </label>

    <input type="text" id="brand" name="brand" value="<%= @product.brand %>">
  </div>

  <div>
    <label for="expiration_date">
      Expiration date
    </label>

    <input type="text" id="expiration_date" name="expiration_date" value="<%= @product.expiration_date %>">
  </div>

  <div>
    <label for="product_type">
      Product type
    </label>

    <input type="text" id="product_type" name="product_type" value="<%= @product.product_type %>">
  </div>

  <div>
    <label for="owner_id">
      Owner
    </label>

    <input type="text" id="owner_id" name="owner_id" value="<%= @product.owner_id %>">
  </div>

  <button>
    Update product
  </button>
</form>

<hr>

<a href="/products">
  Go back
</a>
